<div class="content">
  <div class="title col-xl-9 col-lg-8 col-md-8 col-sm-8" drag-scroll><h1><span class="lesson"></span> {{jsonObject.title}}</h1></div>
  <app-header></app-header>

  <hr class="col-11">
    <div class="cont col-12 col-md-12 col-sm-12 col-lg-11 col-xl-12">
    <div class="secondary-title secondary-title__position"><h2>{{jsonObject.secondary_title}}</h2></div>
    <div class="cont col-10 col-md-12 col-sm-12 col-lg-12 col-xl-10">
      <div class="cont-block row animated fadeIn" *ngFor="let pages of jsonObject.page">
        <div class="option col-3 meaning-block">
          <h3><br></h3>
          <p class="inner-items" *ngFor="let meaning of pages.meaning">{{meaning}}</p>
        </div>
      <div class="option col-4 singular-block">
          <h3>Singular</h3>
        <div class="singular row" *ngFor = "let item of pages.Singular.item; let i = index" (click)='click(item, i)'>
            <div id="vol" class="col-2"><i id="v-up" class="material-icons" (click)='click(item,i)'  >
                volume_up
                </i></div>
          <div class="singular-block-arm inner-items" id = "show_{{i}}" (mouseenter) = "textHover(i)" >{{item.text}}
            </div>
          <div class="singular-block-trans inner-items hide" id = "hide_{{i}}" (mouseleave)="transHover(i)"> {{item.text_trans}}</div>
        </div>
        </div>
      <div class="option col-4 plural-block">
          <h3>Plural</h3>
          <div class="plural row" *ngFor="let item of pages.Plural.item; let j = index" (click)='click(item, j+3)'>
              <div id="vol" class='col-2'><i id="v-up" class="material-icons" (click)='click(item, j+3)'  >
                  volume_up
                  </i></div>
            <div class="plural-block-arm inner-items" id="showi_{{j}}" (mouseenter)="textHover_1(j)" >{{item.text}}</div>
            <div class="plural-block-trans inner-items hide" id="hidei_{{j}}" (mouseleave)="transHover_1(j)" [innerHTML]="item.text_trans"></div>
          </div>
      </div>
      </div>
    </div>
      <div class="circle">
        <circle-progress
          [percent]="(statDateObjects.correct*100)/statDateObjects.total"
          [titleFontSize]="20"
          [unitsFontSize]="20"
          [showSubtitle]="false"
          [outerStrokeColor]="'#008000'"
          [animationDuration]="500"
          [animation]="true"
          [responsive]="true"
        ></circle-progress>
      </div>
    <div class="footer col-11">
      <hr>
      <p [innerHTML]='jsonObject.help'></p>
    </div>
  </div>
  <div class="head">
    <div class="col-xl-9 col-lg-7 col-md-7 col-sm-7"></div>
    <div class="inhead col-xl-3 col-lg-5 col-md-5 col-sm-5">
      <div class="row">
        <div class="info col-2 col-md-2 col-sm-2">
        </div>
        <div class="help col-2 col-md-2 col-sm-2">
        </div>
        <div class="header-buttons col-2 col-md-2 col-sm-2">
        </div>
        <div class="line col-6 col-md-6 col-sm-6"></div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="helpinfo" tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Useful information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="modal-body">
          <div [innerHTML]='jsonObject.info'></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="notes" tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notes-title">Your Notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body">
        <app-notes></app-notes>
      </div>
    </div>
  </div>
</div>
