<div class="head">
  <div class="col-xl-9 col-lg-10 col-md-9 col-sm-9">

  </div>
  <div class="inhead col-xl-3 col-lg-5 col-md-5 col-sm-5">
          <div class="row">

            <div class="info col-2 col-md-2 col-sm-2">
              <button data-toggle="modal" data-target="#helpinfo" mat-icon-button><mat-icon aria-label="Blue" id="info">chat_bubble_outline</mat-icon></button>
            </div>
            <div class="help col-2 col-md-2 col-sm-2">
              <button data-toggle="modal" data-target="#notes" mat-icon-button><mat-icon aria-label="Blue" id="help">subject</mat-icon></button>
            </div>

              <div class="line col-7 col-lg-8 col-xl-8 col-md-4 col-sm-4">

        </div>
    </div>
</div>
</div>
