<div class="row">
    <h1 class="title col-md-12 col-sm-12 col-lg-11 col-xl-10 animated fadeIn"><span class="title-a">A1</span>BEGINNER <br> EASTERN ARMENIAN</h1>
    <div class="youtube animated fadeIn col-lg-8 col-md-10 col-sm-11">
        <!--div onclick="this.nextElementSibling.style.display='block'; this.style.display='none'" class = "frame animated fadeInUp">
            <img class="img-col" src="assets/img/click.png" style="cursor:pointer" />
         </div-->
         <div class="frame">
           <iframe width="1280" height="720" src="https://www.youtube.com/embed/RHcTFGvECoU?theme=dark&color=white&autohide=2&modestbranding=1&showinfo=0&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
    </div>
    </div>
