.sw{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    margin-bottom: 1vh;
}

.switch{
    bottom: 0;
    outline: none;
    transition: ease all .5s;
}


#switch{

}

button{
    transform: scale(1.2);
}

.switcher{
    align-items: flex-start;
    align-self: flex-start;
    bottom: 0;
    outline: none;
    transition: .5s ease-in-out all;
}




#showbut{
    color: white;
    outline: none;
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(118,93,240,1) 30%, rgba(33,120,103,1) 57%, rgba(138,20,168,1) 80%, rgba(230,224,39,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,0,0,1)), color-stop(30%, rgba(118,93,240,1)), color-stop(57%, rgba(33,120,103,1)), color-stop(80%, rgba(138,20,168,1)), color-stop(100%, rgba(230,224,39,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(118,93,240,1) 30%, rgba(33,120,103,1) 57%, rgba(138,20,168,1) 80%, rgba(230,224,39,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(118,93,240,1) 30%, rgba(33,120,103,1) 57%, rgba(138,20,168,1) 80%, rgba(230,224,39,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,0,0,1) 0%, rgba(118,93,240,1) 30%, rgba(33,120,103,1) 57%, rgba(138,20,168,1) 80%, rgba(230,224,39,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,0,0,1) 0%, rgba(118,93,240,1) 30%, rgba(33,120,103,1) 57%, rgba(138,20,168,1) 80%, rgba(230,224,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#e6e027', GradientType=1 );
}

#album{

}


#blue{
    color: blue;
    outline: none;
}

#orange {
    color: #FF9800;
    outline: none;
}

#teal{
    color: #00695C;
    outline: none;
}

#yellow{
    color: #edb000;
    outline: none;
}

#pink{
    color: #eb7fa3;
    outline: none;
}

#purple{
    color: #812bd8;
    outline: none;
}

#deep-purple{
    color: #5b236e;
    outline: none;
}

#black{
    color: #000;
    outline: none;
}

#greener{
    color: green;
    outline: none;
}


