.content{
  min-height: 100vh;
}

.contain{
  margin-left: -5px;
}

hr{
  margin: 1px;
  padding: 0;
  background: white;
}

.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

#v-up {
  position: absolute;
  font-size: 2.5em;
  color: #0e84c6;
  text-align: end;
  max-height: 30px;
  margin: 10px;
  margin-right: 4%;
}

.img-text{
  font-size: 2em;
  text-align: center;
  color: white;
  visibility: visible;
  display: block;
  line-height: 1em;
  margin-top: 5px;

}

.img-trans{
  font-size: 2em;
  text-align: center;
  color: white;
  display: none;
  line-height: 1em;
  margin-top: 5px;
}
.option{
  margin: 0;
}

#opt{
  width: 100%;
  height: auto;
}

.opt-vid{
  height: auto;
  background: white;
  border: 1px solid white;
  cursor: pointer;
  padding: 0;
  margin: 0;
}



@media only screen and (max-width:"736px"){
  .opt-vid{
    height: auto;
  }
}

.img-text{
  font-size: 2em;
  text-align: center;
  color: white;
}

#opt-img{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: white;
}

#opt-vid-1, #opt-vid-2{
  display: none;
  cursor: pointer;
}

.pagin{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  width: 85%;
  margin-top: 1rem;
}

.pagin::-webkit-scrollbar {
  display: none;
}

.pagin::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.pagin::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
​
.title::-webkit-scrollbar {
  opacity: .1;
  display: none;
  box-sizing: content-box;
}

.title::-webkit-scrollbar-track {
  opacity: .1;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.title::-webkit-scrollbar-thumb {
  opacity: .1;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.ngx-pagination{
  display: flex;
}

.pagin /deep/ .ngx-pagination.current {
  margin-right: 6rem;
}

@media only screen and (max-width: 812px){
  .opt-vid{
  }

  @media only screen and (max-width: 736px) {
    .opt-vid {
    }
  }
}


.footer{
  margin: 0;
  margin-top: 2vh;
  padding: 0;
  align-self: flex-start;
}
p, hr{
  display: flex;
  margin: auto;
  bottom: 0;
  font-family: 'Zurk', serif;
  color: rgba(255,255,255,1);
}

hr{
  background: #fff;
  margin: 0;
  padding: 0;
  background: white;
}


.title h1{
  height: 20vh;
  overflow: hidden !important;
}

.lesson{
  font-size: 0.8em;
}


.head{
  margin-top: 40px;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-around;
}
.title{
  position: absolute;
  width: 100%;
  padding: 2px;
  max-height: 60px;
  white-space: nowrap;
  overflow: hidden;
  overflow-y: hidden !important;
  font-family: 'Zurk', sans-serif;
  color: white;

  z-index: 1;
}
.col-2{
  padding: 0;
}


.header-buttons{
  padding: 0;
  align-content: flex-end;
  color: white;
  height: 15px;
  border: none;
  clear: both;
  background: rgba(0,0,0,.3);
  outline: none;
}

.inhead{
  padding: 0;
  align-content: flex-end;
  color: white;
  height: 100%;
  border: none;
  clear: both;
  margin: 0;
}

.colo{
  background: rgba(0,0,0,.3);
}

.line{
  background: rgba(0,0,0,.3);
}

button{
  margin: .9vh;
  outline: none;
  color: white;
}

.info{
  background: rgba(0,0,0,.1);

}

.help{
  background: rgba(0,0,0,.2);

}

#help{

}

.info-black{

}

.help-black{

}

#help-black{

}

.button-left{
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.1);
}

.red{
  color: red;
}

.close{
  color: #444;
}
